# Bibliothèques nécessaires pour le projet
pymongo==4.6.1
pytest==7.4.3
flake8==7.0.0
numpy==1.24.3

#Explication: Ce fichier liste toutes les bibliothèques Python nécessaires.

#pymongo: pour se connecter à MongoDB

#pytest: pour faire des tests

#flake8: pour vérifier la qualité du code

#numpy: pour les calculs mathématiques
